<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/CSS/style.css">
        <title>SHOP</title>
    </head>

    <body>
        <header>
            <h5>Food House</h5>
            <h1>Food For Home</h1>
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h4>
        </header>

        <main>
            <nav>
                <ul>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/tapas.svg" alt="imagen logo de una tapa española">
                                <figcaption class="descrip-cards">Tapas</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/breakfast.svg" alt="imagen logo de un desayuno">
                                <figcaption class="descrip-cards">Desayunos</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/ensalada.svg" alt="imagen logo de una ensalada">
                                <figcaption class="descrip-cards">Ensalada</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li><button class="btn-card">
                        <figure class="img-menucard-nav">
                            <img class="img-card" src="../assets/img/food-card-img/fastfood.svg" alt="imagen logo de comida rapida">
                            <figcaption class="descrip-cards">Almuerzo</figcaption>
                        </figure>
                    </button></li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/dinner.svg" alt="imagen logo de un pavo asado">
                                <figcaption class="descrip-cards">Cena</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/desert.svg" alt="imagen logo de una tarta">
                                <figcaption class="descrip-cards">Postres</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/bebidas.svg" alt="imagen logo de bebidas">
                                <figcaption class="descrip-cards">Bebidas</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/all.svg" alt="imagen logo de comida variada">
                                <figcaption class="descrip-cards">Todos</figcaption>
                            </figure>
                        </button>
                    </li>
                </ul>
            </nav>

        <section id="items"></section>
        <template id="template-products">
            <div class="article-dish">
                <figure class="figure-art">
                    <img class="img-menucard" src="" alt="">
                </figure>
                <p class="price"></p>
                <h3 class="dish-title"></h3>
                <h5 class="descript-ingredients"></h5>
                <button class="btn-add-buy">+</button>
            </div>
        </template>

        <footer>
            <nav>
                <ul>
                    <li>
                        <button class="icon-navbar">
                            <img class="icon-figure" src="../assets/img/nav-bar-icons/hogarO.svg" alt="imagen icono de una casa">
                        </button>
                    </li>
                    <li>
                        <button class="icon-navbar">
                            <img class="icon-figure" src="../assets/img/nav-bar-icons/sobre.svg" alt="imagen icono de una casa">
                        </button>
                    </li>
                    <li>
                        <button class="icon-navbar-buy">
                            <img class="icon-figure" src="../assets/img/nav-bar-icons/bolsa-de-la-compra.svg" alt="Icono con una bolsa de compra">
                        </button>
                    </li>
                    <li>
                        <button class="icon-navbar">
                            <img class="icon-figure" id="heart" src="../assets/img/nav-bar-icons/corazon.svg" alt="imagen icono de una casa">
                        </button>
                    </li>
                    <li>
                        <button class="icon-navbar">
                            <img class="icon-figure" src="../assets/img/nav-bar-icons/usuario.svg" alt="imagen icono de una casa">
                        </button>
                    </li>
                </ul>
            </nav>
        </footer>
        <script src="../assets/JS/myFunction.js"></script>
    </body>
</html>