<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/CSS/style.css">
        <script defer src="../assets/JS/myFunction.js"></script>
        <title>SHOP</title>
    </head>

    <body>
        <header>
            <h5>Food House</h5>
            <h1>Food For Home</h1>
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h4>
        </header>

        <main>
            <nav>
                <ul>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/tapas.svg" alt="imagen logo de una tapa española">
                                <figcaption class="descrip-cards">Tapas</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/breakfast.svg" alt="imagen logo de un desayuno">
                                <figcaption class="descrip-cards">Desayunos</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/ensalada.svg" alt="imagen logo de una ensalada">
                                <figcaption class="descrip-cards">Ensalada</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li><button class="btn-card">
                        <figure class="img-menucard-nav">
                            <img class="img-card" src="../assets/img/food-card-img/fastfood.svg" alt="imagen logo de comida rapida">
                            <figcaption class="descrip-cards">Almuerzo</figcaption>
                        </figure>
                    </button></li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/dinner.svg" alt="imagen logo de un pavo asado">
                                <figcaption class="descrip-cards">Cena</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/desert.svg" alt="imagen logo de una tarta">
                                <figcaption class="descrip-cards">Postres</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/bebidas.svg" alt="imagen logo de bebidas">
                                <figcaption class="descrip-cards">Bebidas</figcaption>
                            </figure>
                        </button>
                    </li>
                    <li>
                        <button class="btn-card">
                            <figure class="img-menucard-nav">
                                <img class="img-card" src="../assets/img/food-card-img/all.svg" alt="imagen logo de comida variada">
                                <figcaption class="descrip-cards">Todos</figcaption>
                            </figure>
                        </button>
                    </li>
                </ul>
            </nav>

            <section>
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/desayuno01.jpg" alt="imagen desayuno de la casa">
                    </figure>
        
                    <p class="price">$15.00</p>
        
                    <h3 class="dish-title">Desayuno</h3>
        
                    <p class="descript-ingredients">Huevos, pancakes y tocino</p>
    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/ensalada01.jpg" alt="imagen ensalada cesar">
                    </figure>
        
                    <p class="price">$12.00</p>
        
                    <h3 class="dish-title">Ensalada cesar</h3>
        
                    <p class="descript-ingredients">Lechuga</p>
    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/macarrones.jpg" alt="imagen macarrones con queso">
                    </figure>
        
                    <p class="price">$8.00</p>
        
                    <h3 class="dish-title">Pasta con queso</h3>
        
                    <p class="descript-ingredients">Pasta</p>
    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/Hamburguesa.jpg" alt="imagen Hamburguesa simple y patatas">
                    </figure>
        
                    <p class="price">$5.00</p>
        
                    <h3 class="dish-title">Burguer</h3>
        
                    <p class="descript-ingredients">Carne</p>
    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/pollo.jpg" alt="imagen pollo asado">
                    </figure>
        
                    <p class="price">$8.00</p>
        
                    <h3 class="dish-title">Pollo asado</h3>
        
                    <p class="descript-ingredients">Aderezado</p>
    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/pizza.jpg" alt="imagen pizza Margarita">
                    </figure>
        
                    <p class="price">$10.00</p>
        
                    <h3 class="dish-title">Pizza</h3>
        
                    <p class="descript-ingredients">Tomate</p>
    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/pescado.jpg" alt="imagen pescado a la plancha">
                    </figure>
        
                    <p class="price">$20.00</p>
        
                    <h3 class="dish-title">Lubina a la plancha</h3>
        
                    <p class="descript-ingredients">Pescado</p>
    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/pieLimon.jpg" alt="imagen tarta de limón">
                    </figure>
        
                    <p class="price">$5.00</p>
        
                    <h3 class="dish-title">Tarta de Limón</h3>
        
                    <p class="descript-ingredients">Casera</p>
                    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/cheesecake.jpg" alt="imagen tarta de queso">
                    </figure>
        
                    <p class="price">$6.00</p>
        
                    <h3 class="dish-title">Tarta de queso</h3>
        
                    <p class="descript-ingredients">Casera</p>
                    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/vinoTinto.jpg" alt="imagen vaso de vino tinto">
                    </figure>
        
                    <p class="price">$3.00</p>
        
                    <h3 class="dish-title">Vino tinto</h3>
        
                    <p class="descript-ingredients"></p>
                    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/vinoBlanco.jpg" alt="imagen vaso de vino blanco">
                    </figure>
        
                    <p class="price">$3.00</p>
        
                    <h3 class="dish-title">Vino blanco</h3>
        
                    <p class="descript-ingredients"></p>
                    
                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
    
                <article id="template-card" class="article-dish">
                    <figure class="figure-art">
                        <img class="img-menucard" src="../assets/img/dishes/cerveza.jpg" alt="imagen jarra de cerveza">
                    </figure>
        
                    <p class="price">$4.00</p>
        
                    <h3 class="dish-title">cerveza</h3>
        
                    <p class="descript-ingredients">Artesana</p>

                    <div class="btn-amounth">
                        <button class="btn-rest">-</button>
                            <p class="amounth-price">00</p>
                        <button class="btn-add">+</button>
                    </div>

                    <button class="btn-add-buy">+</button>
                </article>
            </section>
        </main>

        <footer>
            <nav>
                <ul>
                    <li>
                        <button class="icon-navbar">
                            <img class="icon-figure" src="../assets/img/nav-bar-icons/hogarO.svg" alt="imagen icono de una casa">
                        </button>
                    </li>
                    <li>
                        <button class="icon-navbar">
                            <img class="icon-figure" src="../assets/img/nav-bar-icons/sobre.svg" alt="imagen icono de una casa">
                        </button>
                    </li>
                    <li>
                        <button class="icon-navbar-buy">
                            <img class="icon-figure" src="../assets/img/nav-bar-icons/bolsa-de-la-compra.svg" alt="Icono con una bolsa de compra">
                        </button>
                    </li>
                    <li>
                        <button class="icon-navbar">
                            <img class="icon-figure" id="heart" src="../assets/img/nav-bar-icons/corazon.svg" alt="imagen icono de una casa">
                        </button>
                    </li>
                    <li>
                        <button class="icon-navbar">
                            <img class="icon-figure" src="../assets/img/nav-bar-icons/usuario.svg" alt="imagen icono de una casa">
                        </button>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>